 .banner_image1 {
     background-image: url("../../assets/background1.jpg");
  backdrop-filter: blur(10px);  /* height: 100%;   */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
 }

 .banner_image2 {
     background-image: url("../../assets/background2.jpg");
     background-position: center;
     background-size: cover;
     background-color: white;

 }
.bg-text {
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.7);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  color: white;
  }
  